@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E2D6FF;
    color: black;   
    font-family: 'Krona One','sans-serif';
}

.cabecalho{
    height: 40px;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    text-decoration: none;
    font-size: 18px;
    margin: auto;
    color:white;
    background-color: #0c0b0c;
    padding: 20px;
}

.container {
    background-color: #f5f5f5d7;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo{
    color: black;   
    font-size: 16px;
    margin: 7vh 30vh;
}

.conteudo-titulo{
    text-align: center;
    font-size: 26px;
    margin: 1rem 1rem 1rem 1rem;
}

.descricao-home{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 1rem 1rem 1rem 1rem;
    line-height: 1.5rem;
}

.conteudo-exercicio{
    margin: 1rem 1rem 1rem 1rem;
    line-height: 1.5rem;
}

.img-home{
    width: 45%;
    display: inline-block;
}

a{
    color:white;
    text-decoration: none;
}

.link{
    margin-left: 10vh;
    margin-right: 1vh;
    cursor: pointer;
}

.link img{
    width: 100%;
    height: 100%;
}

.link:hover{
    color: orange;
}

.link img {
    height: 35px;
    width: 35px;
}

.exercicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
}

.exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iframe {
    text-align: center;
}

.rodape{
    color: white;
    background-color:#0c0b0c;
    text-align: center;
    padding: 20px;
}

#botao{
    cursor: pointer;
    background-color:tan;
    color:black;
    width: 25%;
    height: 50px;
    font-size: 26px;
    margin-left: 35px;
    margin-right: 20px;
    border-radius: 50px;
    border-color: black;
}

.cronometro_exercitar_tempo{
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.cronometro{
    background-color: #f5f5f5d7;
    border-radius: 20px;
    padding: 32px;
}

#cronometro_exercitar{
    font-size: auto;
    text-align: center;
}

.imc{
    background-color: #f5f5f5d7;
    border-radius: 20px;
    padding: 32px;
    margin-top: 52px;
}

.imc_titulo{
    text-align: center;
    font-size: 26px;
    padding: 12px;
}

.imc_conteudo{
    text-align: center;
    font-size: 26px;
    padding: 22px;
}

.imc_conteudo_campo{
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 26px;
    text-align: center;
}

.imc_conteudo_botao{
    cursor: pointer;
    width: 200px;
    height: 46px;
    border-radius: 26px;
    font-size: 26px;
    background-color: tan;
    margin-top: 32px;
    border-color: black;
}

/* Estilos do popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.432);
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 100px;
    height: 46px;
    border-radius: 26px;
    font-size: 16px;
    background-color: tan;
    margin-top: 32px;
    border-color: black;
}
