@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E2D6FF;
    color: black;   
    font-family: 'Krona One','sans-serif';
}

.cabecalho{
    height: 40px;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    text-decoration: none;
    font-size: 18px;
    margin: auto;
    color:white;
    background-color: #0c0b0c;
    padding: 20px;
}

.container {
    background-color: #f5f5f5d7;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.conteudo{
    color: black;   
    font-size: 16px;
    margin: 7vh 30vh;
}

.conteudo-titulo{
    text-align: center;
    font-size: 26px;
    margin: 1rem 1rem 1rem 1rem;
}

.descricao-home, .conteudo-exercicio{
    margin: 1rem 1rem 1rem 1rem;
}

.img-home{
    display: block;
    margin: 1rem auto;
}

a{
    color:white;
    text-decoration: none;
}

.link{
    margin-left: 10vh;
    margin-right: 10vh;
    cursor: pointer;
}

.link img{
    width: 100%;
    height: 100%;
}

.link:hover{
    color: orange;
}

.link img {
    height: 35px;
    width: 35px;
}

.exercicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
}

.exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iframe {
    text-align: center;
}

.rodape{
    color: white;
    background-color:#0c0b0c;
    text-align: center;
    padding: 20px;
}

#botao{
    background-color:tan;
    color:black;
    width: 25%;
    font-size: 34px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 50px;
}

.cronometro_exercitar_tempo{
    text-align: center;
    font-size: 58px;
    padding: 30px;
}

.cronometro{
    background-color: #f5f5f5d7;
    border-radius: 20px;
    padding: 32px;
}

#cronometro_exercitar{
    font-size: 26px;
}
